<div class="p-8">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-3xl font-extrabold text-gray-800">Claims</h1>

    <lib-button type="submit" content="Create New Claim" routerLink="new"></lib-button>
  </div>

  <div class="bg-white p-4 rounded-xl shadow-sm border border-gray-100 mb-6">
    <div [formGroup]="filterForm" (ngSubmit)="applyFilters()"
      class="flex flex-row flex-nowrap items-end gap-4 overflow-x-auto pb-2 items-center">
      <lib-input label="Policy Number" placeholder="Filter by policy..." formControlName="policyNumber"
        class="flex-1 min-w-[200px]"></lib-input>
      <lib-select label="Status" [options]="statusOptions" [selectedOption]="filterForm.get('statusCode')?.value"
        (selectedOptionChange)="filterForm.get('statusCode')?.setValue($event)" placeholder="All statuses"
        class="flex-1 min-w-[200px]">
      </lib-select>
    </div>
  </div>

  <lib-loader *ngIf="loading()" text="Loading claims..."></lib-loader>

  <lib-table *ngIf="!loading()" [columns]="tableColumns" [data]="claimsList()" (rowClick)="irAlDetalle($event)">
  </lib-table>
</div>