<lib-form [title]="isEditMode ? 'Editar Claim Status' : 'Crear Claim Status'" (formSubmit)="onSubmitForm($event)">
  
  <div [formGroup]="myForm" class="flex flex-col gap-4">
    <lib-input formControlName="code" label="Código (ej: OPEN)"></lib-input>
    <lib-input formControlName="name" label="Nombre (ej: Abierto)"></lib-input>
    <lib-textarea formControlName="description" label="Descripción"></lib-textarea>
  </div>

  <div form-actions class="flex gap-2 justify-end">
    <lib-button type="cancel" content="Cancelar" (buttonClick)="onCancel()"></lib-button>
    <lib-button type="submit" [content]="isEditMode ? 'Guardar' : 'Crear'" [disabled]="myForm.invalid"></lib-button>
  </div>

</lib-form>