<div class="p-6 max-w-7xl mx-auto flex-row">
  <!-- "Header" -->
  <div class="flex justify-between items-center pb-2">
    <div>
      <h1 class="text-3xl font-bold text-slate-800">Policies</h1>
      <p class="text-slate-500 mt-1">Manage policies and coverage details.</p>
    </div>
    <div class="flex gap-2">
      <lib-button
        type="confirm"
        content="New Policy"
        (buttonClick)="goToPolicyCreation()"
      />
    </div>
  </div>

  <!-- Inline error -->
  @if (errorMessage) {
  <div class="mb-6 p-4 bg-red-200 border border-red-200 rounded-lg">
    <lib-inline-error [message]="errorMessage" />
  </div>
  }

  <!-- Filters panel -->
  <div
    class="bg-white p-4 rounded-xl shadow-sm border border-slate-200 mb-6 flex flex-wrap gap-4 items-end"
  >
    <div class="w-48">
      <lib-select
        label="Filter by Status"
        [options]="statusOptions"
        [selectedOption]="selectedStatus"
        (selectedOptionChange)="
          selectedStatus = $event.toString(); onFilterChange()
        "
      >
      </lib-select>
    </div>
    <div class="w-48">
      <lib-select
        label="Filter by Type"
        [options]="policyTypeOptions"
        [selectedOption]="selectedPolicyTypeCode"
        (selectedOptionChange)="
          selectedPolicyTypeCode = $event.toString(); onFilterChange()
        "
      >
      </lib-select>
    </div>
  </div>

  <!-- Table with policies list -->
  @if (isLoading) {
  <div class="py-12 flex justify-center">
    <lib-loader text="Loading policies..." />
  </div>
  } @else {
  <div
    class="bg-white rounded-xl shadow-sm border border-slate-200 overflow-hidden"
  >
    <lib-table
      [columns]="columns"
      [data]="policies"
      (rowClick)="onRowSelect($event)"
    >
    </lib-table>

    <div class="border-t border-slate-100 bg-slate-50 flex justify-end">
      <lib-pagination
        [currentPage]="currentPage"
        [totalPages]="totalPages"
        (pageChange)="onPageChange($event)"
      >
      </lib-pagination>
    </div>
  </div>
  }
</div>
